@media screen and (max-width: 768px) {
    *{
        font-family: Kaisei Decol;
        margin: 0;
    }

    body {
        overflow-x: hidden;
    }

    .navigation ul {
        margin: 0;
        display: block;
        align-items: center;
        list-style-type: none;
        padding: 0;
    }
    .carousel-item img {
        object-fit: cover;
        object-position: center;
    }
    
    /* a */
    .navigation a {
        text-decoration: none;
        color: #636060;
        font-size: 13px;
    }
    .flexbox {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .text1{
        font-size: 36px;
        margin-top: -40px;
        width: max-content;
        padding: 0 10px;
    }
    .text1::before, .text1::after {
        content: "";
        display: inline-block;
        height: 3px;
        background-color: black;
        width: 59px;
        position: relative;
        bottom: 8px;
    }
    .container2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-repeat: no-repeat;
        background-size:cover;
        height: 850px;
    }
    /* About us  */
    .centered3 {
        font-size: 40px;
    }

    .places {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .text3::before, .text3::after {
    content: "";
    display: inline-block;
    height: 3px;
    background-color: black;
    width: 100px;
    position: relative;
    bottom: 4px;
    }
    .circle {
     padding-bottom: 20px;
    }
    .text4 {
        padding-top: 10px;
        font-size: 20px;
    }
    .photo {
    background-position: center;
    }
    .centered4 {
        align-items: center;
        color: azure;
        font-size: 15px;
        opacity: 100%;
        transition: 5s;
        padding-right: 55px;
    }
    /* books */

    .text_books_centered {
        font-size: 30px;
    }
    .shop_text::before, .shop_text::after {
        width: 100px;
    }
    /* end */
    .ending {
        width: 100%;
        text-decoration: none;
    }
    .container_end {
        padding-left: 10px;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .first_column {
        gap: 2px;
    }
    
    .third_column {
        color: black;
        padding-right: 15px;
        padding-bottom: 62px;
    }
}