*{
    font-family: Kaisei Decol;
    margin: 0;
}
/* menu (header) */
.All_header_menu {
    display: flex;
    align-items: center;
    opacity: 0;
    animation: ani 0.5s forwards;
}
@keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.navigation ul {
    margin: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

.navigation ul li {
    margin-right: 20px; 
}
/* a */
.navigation a {
    padding: 10px;
    text-decoration: none;
    color: #636060;
    font-size: 17px;
    margin-left: 40px;
}
.navigation a:hover {
    color: black;
}